{% extends "_template.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/year.css"/>
{% endblock %}
{% block main %}
    <div class="date-container">
        <button class="date-control" id="date-prev">
            <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <g>
                        <polyline fill="none" id="Left" points="15.5 5 8.5 12 15.5 19" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </g>
                </g>
            </svg>
        </button>
        <div>
            <input type="hidden" id="date-start"/>
            <input type="hidden" id="date-end"/>
            <div id="date"></div>
        </div>
        <button class="date-control" id="date-next">
            <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <g>
                        <polyline fill="none" id="Right" points="8.5 5 15.5 12 8.5 19" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </g>
                </g>
            </svg>
        </button>
    </div>
    <div class="table-container">
        <table id="schedule-table">
            <colgroup>
                <col width="20%"/>
                <col width="10%"/>
                <col width="60%"/>
                <col width="10%"/>
            </colgroup>
            <thead>
                <tr>
                    <th class="text-center">월</th>
                    <th class="text-center">#</th>
                    <th>내용</th>
                    <th class="text-center">-</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <script>
    const get_schedule = (date_st, date_ed) => {
        $.ajax({
            url : '/api/schedule',
            method : 'get',
            data: {"target_date_st" : date_st, "target_date_ed": date_ed, "year": true}
        }).done((data, textStatus, xhr) => {
            if(data.length > 0){
                let subIndex = 0;
                let before = null;
                let tbody = data.reduce((html, schedule, index) => {
                    if((new Date(schedule.target_date)).getMonth() != before){
                        before = (new Date(schedule.target_date)).getMonth();
                        subIndex = 0;
                    }
                    else{
                        subIndex++;
                    }
                    let btn = `<button class="schedule-done" data-index="${schedule.task_id}" data-title="${schedule.task_title}">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.0001 7L9.0001 18L4 13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>`;
                    return html + `<tr>
                        <td class="text-center month" data-month="${before+1}" data-year="${(new Date(schedule.target_date)).getFullYear()}">${(before+1)}월</td>
                        <td class="text-center">${schedule.task_status == 0 ? (subIndex+1) : ''}</td>
                        <td class="day ${schedule.task_status == 0 ? '' : 'line-through'}" data-date="${schedule.target_date}">${schedule.task_title}</td>
                        <td class="text-center">${schedule.task_status == 0 ? btn : ''}</td>
                    </tr>`;
                }, '');
                $("#schedule-table").find("tbody").html(tbody);
                $("#schedule-table").find("tbody").yRowspan(0);
            }
            else{
                $("#schedule-table").find("tbody").html(`<tr><td colspan="4" class="text-center">등록된 내용이 없습니다.</td></tr>`);

            }
        });
    };
    const update_schedule = (index) => {
        $.ajax({
            url : `/api/schedule/${index}`,
            method : 'patch'
        }).done((data, textStatus, xhr) => {
            let target_date_st = $("#date-start").data("date");
            let target_date_ed = $("#date-end").data("date");
            if(target_date_st === undefined || target_date_ed === undefined){
                let target_date = new Date(`${(new Date()).getFullYear()}-01-01`);
                target_date_st = target_date.toFormat();
                target_date = new Date(`${(new Date()).getFullYear()+1}-01-01`);;
                target_date_ed = target_date.addDays(-1).toFormat();
            }
            set_date((new Date(target_date_st)), (new Date(target_date_ed)));
        });

    }
    const set_date = (target_date_st, target_date_ed) => {
        let date_text = `${target_date_st.getFullYear()}년`;
        $("#date").html(date_text);
        $("#date-start").data("date", target_date_st.toFormat());
        $("#date-end").data("date", target_date_ed.toFormat());
        get_schedule(target_date_st.toFormat(), target_date_ed.toFormat());
    }
    $(document).on("click", ".date-control", (e)=>{
        let target_date_st = $("#date-start").data("date");
        if(target_date_st === undefined){
            let target_date = new Date(`${(new Date()).getFullYear()}-01-01`);
            target_date_st = target_date.toFormat();
        }
        let date_st = (new Date(target_date_st));
        if($(e.currentTarget).attr('id') == "date-prev"){
            set_date((new Date(`${date_st.getFullYear()-1}-01-01`)), (new Date(`${date_st.getFullYear()-1}-12-31`)));
        }
        else{
            set_date((new Date(`${date_st.getFullYear()+1}-01-01`)), (new Date(`${date_st.getFullYear()+1}-12-31`)));
        }
    });

    $(document).on("click", ".schedule-done", (e)=>{
        let index = $(e.currentTarget).data("index");
        let title = $(e.currentTarget).data("title");
        if(confirm(`"${title}"를 완료하셨나요?`)){
            update_schedule(index);
        }
    })
    $(document).ready(()=>{
        let today = new Date();
        let year = today.getFullYear();
        let target_date_st = new Date(`${year}-01-01`)
        let target_date_ed = new Date(`${year}-12-31`)
        set_date(target_date_st, target_date_ed);
        //.getDay() 0~6 Sun~Sat
    });
    const init = () => {
        let target_date_st = $("#date-start").data("date");
        let target_date_ed = $("#date-end").data("date");
        if(target_date_st === undefined){
            let year = (new Date()).getFullYear();
            let target_date_st = (new Date(`${year}-01-01`)).toFormat()
            let target_date_ed = (new Date(`${year}-12-31`)).toFormat()
        }
        get_schedule(target_date_st, target_date_ed);
    };
    $(document).on("click", ".day", (e)=>{
        if(confirm(`${$(e.currentTarget).data("date")}로 이동하시겠습니까?`)){
            location.href = `/?target_date=${$(e.currentTarget).data("date")}`;
        }
    });
    $(document).on("click", ".month", (e)=>{
        if(confirm(`${$(e.currentTarget).data("month")}월로 이동하시겠습니까?`)){
            location.href = `/month?target_month=${$(e.currentTarget).data("year")}-${$(e.currentTarget).data("month")}`;
        }
    });

    </script>
{% endblock %}
